yt-dlp>=2023.12.30
opencv-python>=4.8.0
numpy>=1.21.0
tqdm>=4.64.0
einops>=0.7.0
matplotlib>=3.5.0
torch>=2.9.0
safetensors>=0.4.0
wandb>=0.15.0
huggingface_hub[cli]
h5py>=3.8.0
torchtune>=0.1.0
torchao
scipy>=1.9.0
torchdiffeq>=0.2.3
imageio
wandb[media]